@font-face {
   font-family: 'Georgia-Bold';
   font-display: swap;
   src: url('file:///C:/Users/%D1%83/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-09-13_160417/fonts/Georgia-Bold/font.ttf');
}
